
.place-order-button{
    float: right;
    margin-top: 1%;
}

.address-header-text{
    font-size: 20px;
}

.address-header-div{
    font-size: 20px;
}

#box
{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
}

#info
{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5px;
    margin-top: 10px;
}

#sub
{
    margin-left: auto;
    margin-right: auto;
}

input[type = 'button']
{
    background-color: yellow;
    width: 80%;
    height: 30px;
}

#buttonbox
{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    margin-left: 120px;
}

