<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
   <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
   <body>

      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <div class="topnav" style="padding-bottom: 50px; padding-left: 100px">
            <a href = "/logout"><button class="btn btn-primary" type = "submit" id = "btn3">Log Out</button></a>
        </div>
        <div class="product-form">
            <div class = "close-mark" onclick="closeDialogueForAddingProduct()" >✖</div>
            <form class = "product-creation-form">
                <div class="form-group">
                    <label>Product Name</label>
                    <input type="text" class="form-control" name="product-name" placeholder="Enter Product Name">
                    <small id="productHelp" class="form-text text-muted">Enter the name of the Product</small>
                </div>
                <div class="form-group">
                    <label>Product Description</label>
                    <textarea class="form-control" name="product-description" placeholder="Enter Product Description"></textarea>
                    <small id="productDescriptionHelp" class="form-text text-muted">Enter the description of the product</small>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="product-enabled">
                    <label class="form-check-label">Enabled</label>
                </div>
                <div class="form-group">
                    <label>Product Image URL</label>
                    <input type="text" class="form-control" name="product-image" placeholder="Enter Product Image URL">
                    <small id="productImageHelp" class="form-text text-muted">Enter the image url of the Product Format: https://....</small>
                </div>
                <div class="form-group">
                    <label>Product Price</label>
                    <input type="text" class="form-control" name="product-price" placeholder="Enter Product Price">
                    <small id="productPriceHelp" class="form-text text-muted">Product Price Should be a decimal value</small>
                </div>
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
        <div class = container admin-container>
            <form class="product-update-form" >
                <div class="row">
                    <div class="container ">
                         <div class="row">
                            <div class="col-lg-12 center text-center admin-title">
                               Dalcart Admin
                            </div>
                         </div>

                        <div class="row product-list-header">
                            <div class="col-lg-3 text-center product-list-header-item">
                               Product Name
                            </div>
                            <div class="col-lg-3 text-center product-list-header-item">
                               Current Inventory
                            </div>
                            <div class="col-lg-3 text-center product-list-header-item">
                               Add to Inventory
                            </div>
                            <div class="col-lg-3 text-center product-list-header-item">
                               Enabled?
                            </div>
                        </div>
                        <div class="row product-list-row text-center product-row" th:each="product: ${products}">
                            <div class="col-lg-3 flex"  th:text="${product.productName}"></div>
                            <div class="col-lg-3 flex"   th:text="${product.productQuantity}" ></div>
                            <div class="col-lg-3 flex">
                                <input class="product-detail" type="number" step="1" th:name = "'product-inventory-' + ${product.productId}" min="0" max="999" th:value="0"/>
                            </div>
                            <div class="col-lg-3 flex">
                                <input class="form-check-input inventory-input product-detail" th:name = "'product-enabled-' + ${product.productId}" type="checkbox"  th:checked="${product.enabled}"/>
                            </div>
                        </div>
                        <div class="row d-flex product-list-row text-right align-items-right add-product" id="addProductDialog">
                            <div class = "add-new-product" onclick="openDialogueForAddingProduct()">Add new Product&nbsp;&nbsp;</div>
                            <div class = "plus-icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 455 455" style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                    <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5
                                        455,242.5 "/>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                                                    <g>
                                    </g>
                                </svg>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12 text-center admin-button-column">
                        <input type="submit" class="btn btn-dark admin-button"/>
                    </div>

                </div>
            </form>
        </div>
      <script>
         $( ".product-update-form" ).on( "submit", function(e) {
            e.preventDefault();
            //alert("products updated");
            var dataString = $(this).serialize();
            $.ajax({
              type: "POST",
              url: "/admin/submit_product_data",
              data: dataString,
              success: function () {
                alert("Products Updated Successfully!");
                location.reload();
              },
              error: function (request, status, error) {
                alert("Submit Failed, Please Try Again After Sometime");
              }
            });
         });

         $(".product-creation-form" ).on( "submit", function(e) {
            e.preventDefault();
            //alert("product created");
            var dataString = $(this).serialize();
            //location.reload();
            $.ajax({
              type: "POST",
              url: "/admin/submit_product_creation_data",
              data: dataString,
              success: function () {
                alert("Product Created Successfully!");
                $(this).css("display","none");
                location.reload();
              },
              error: function (request, status, error) {
                alert("Submit Failed, Please Try Again After Sometime");
              }
            });
              $(".product-form").css("display","none");
         });

         function openDialogueForAddingProduct(){
            $(".product-form").css("display","block");
         }

         function closeDialogueForAddingProduct(){
            $(".product-form").css("display","none");
         }
      </script>
   </body>
</html>

