<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <div style="background: cornflowerblue; font-family: 'Arial Rounded MT Bold'; font-size: xx-large; text-align: center;">
        <h1><u>Dal-Cart</u></h1>
        <h1><span th:text="${header}"></span></h1>
    </div>

    <div class="topnav" style="padding-bottom: 50px; padding-left: 100px">
        <input type="text" placeholder="Search" id="search" name="searchword">
        <button class="btn btn-primary" type = "submit" id = "btn1" onclick="searchProduct()">Search</Button>
        <a href = "/cart"><button class="btn btn-primary"  id = "btn2">My Cart</button></a>
        <a href = "/logout"><button class="btn btn-primary"  id = "btn3">Log Out</button></a>
    </div>

    <div style="padding-left: 100px">
        <h1><i><span th:text="${nothingToShow}"></span></i></h1>
    </div>

    <div class="row card-deck">
        <div class="col-lg-4 col-md-6 mb-4" th:each="product : ${listproducts}">

            <div class="card text-center" style="border:2px solid black; padding-left: 50px; padding-top: 50px; padding-bottom: 20px;">
                <div class="card-header">
                    <h4> <span th:text="${product.productName}"></span></h4>
                </div>
                <div class="card-body">
                    <img class="card-img-top" th:src="${product.productImage}"
                                     alt="" width="100" height="100">
                    <h5 class="card-title">Description : <span th:text="${product.productDescription}"></span></h5>
                    <h5 class="card-title">Price : <span th:text="${product.productPrice}"></span></h5>
                    <div class="row">
                        <div class="col-4 padding-0">
                            <button th:id = "${product.productId}" class="btn btn-primary" type = "submit" onclick="addToCart(this.id)">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

    function addToCart(event)
    {
        $.ajax({
            type: "POST",
            url: "/addToCart",
            data: {
                id: event
            },
            success: function(result) {
                alert('Product Added to Cart');
             },
            error: function(result) {
                alert('Product Added to Cart');
            }
        });
    }

    function searchProduct()
    {
        var keyword = $('#search').val();
        if(window.location.href.indexOf("?") > -1)
        {
            window.location.replace(("(\\?search.*)","?search=" + keyword));
        }
        else
        {
            window.location = window.location + "?search=" + keyword;
        }
    }
</script>
</body>
</html>