<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

     <body>
          <div class="topnav" style="padding-bottom: 50px; padding-left: 100px">
               <a href="/home">
                    <button class="btn btn-primary" id="btn2">Go to home</button>
               </a>
          </div>
          <div class="jumbotron text-center" >
               <span style="font-size: 20px"> Thank You!!! Your Order Has been Placed.</span>
          </div>.

     </body>
</html>
